
<style type="text/css" media="screen">
   #editor {
       height: 500px;
   }
</style>
<script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<%
if(query.back==""){
	redirect=""
}else{
	redirect="&path="+query.back
}
%>
<a class="btn btn-primary" href="?temp=plugins<%-redirect%>">
  <i class="fas fa-arrow-left"></i>
</a>
<button class="btn btn-outline-success" onclick="save()">
  Zapisz
</button>
<button class="btn btn-outline-primary" onclick="document.location.reload()">
  Odśwież
</button>
<%
var xd=query.loc.split("/");

for(var i=0;i<xd.length;i++){
	dirTree=dirTree[xd[i]];	
}
%>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             <div class="btn btn-dark text-light"><%-query.file%></div>
        </div>
        <div class="panel-body">
            <div id="editor"><%=dirTree.data%></div>
        </div>
    </div>
    <br>
    <div class="text-center alert btn-success xxdd">
      SAVED!
    </div>
</div>
	        
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.session.setMode("ace/mode/yaml");
editor.setOptions({
  // fontFamily: "tahoma",
  fontSize: "15pt",
  tabSize: 2
});
$(".xxdd").slideUp(0)
function save(){
  var code=editor.getValue();
  $.post("/api/savefile",{
    code:code,
    plugin:"<%-query.loc%>"
  },function (r){
    $(".xxdd").slideDown(100)
    setTimeout(function (){
      $(".xxdd").slideUp(100)
    },1000)
  })
}
$(window).bind('keydown', function(event) {
    if (event.ctrlKey || event.metaKey) {
        switch (String.fromCharCode(event.which).toLowerCase()) {
        case 's':
            event.preventDefault();
            save()
            break;
        // case 'f':
        //     event.preventDefault();
        //     alert('ctrl-f');
        //     break;
        // case 'g':
        //     event.preventDefault();
        //     alert('ctrl-g');
        //     break;
        }
    }
});
</script>